.thickbox {
  color: #23a8bd;
  text-decoration: none;
}

.thickbox:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes show{

  0% {
    transform: rotate(0deg) scale(0); 
    
  }

  100% { 
    position: fixed;

    transform: rotate(360deg) scale(1);
    
  }
}

#TB_window {

  padding: 0;
  
  background: #ffffff;
  
  color: #000000;
  border: 1px solid #716D67;
  border-radius: 3px;

  animation: show 0.2s ease;

  /* so that resizing occurs smoothly */
  transition: max-width 0.2s ease, max-height 0.2s ease;

  height: 90vh;
  width: 90vw;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#TB_window #TB_title {
  
  display: flex;

  padding: 0.5em;
  background-color: #f38630;
  color: white;
  
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin: 0;
}

#TB_window #TB_ajaxContent {
  padding: 2px 15px 15px 15px;
  
  overflow-y: auto;
  

  height: 100%;

} 

#TB_window #TB_ajaxcontent div:first-of-type{
  background-color: red;
}

#TB_window #TB_closeWindowButton:hover {
  text-decoration: underline;
}

/* reset default behaviour created by <a> */
#TB_window:focus-visible {
  outline: none;
}

#TB_window::backdrop {
  background: rgba(255, 255, 255, 0.6);
}

#TB_window.closing::backdrop {
  background: none;
  transition: background 0.2s ease;
}

#TB_window.closing {
  transform: scale(0);
  transition: transform 0.2s ease;
}



#TB_window #TB_closeWindowButton {
  cursor: pointer;
}


/* optional: while we wait for ajax, put a loading spinner in the modal body */