.thickbox {
  color: #23a8bd;
  text-decoration: none;
}

.thickbox:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes show{

  0% {
    transform: rotate(0deg) scale(0); 
    
  }

  100% { 
    position: fixed;

    transform: rotate(360deg) scale(1);
    
  }
}

#TB_window {

  position: fixed;
  inset-inline-start: 0px;
  /* inset-inline-end: 100px; */
  
  padding: 0;
  
  background: #ffffff;
  
  color: #000000;
  border: 1px solid #716D67;
  border-radius: 3px;

  animation: show 0.2s ease;
}

#TB_window #TB_closeWindowButton:hover {
  text-decoration: underline;
}

/* reset default behaviour created by <a> */
#TB_window:focus-visible {
  outline: none;
}

#TB_window::backdrop {
  background: rgba(255, 255, 255, 0.6);
}

#TB_window #TB_ajaxContent {
  padding: 2px 15px 15px 15px;
  overflow-wrap: anywhere;
} 

#TB_window #TB_title {
  padding: 0.5em;
  background-color: #f38630;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin: 0;

}

#TB_window.closing::backdrop {
  background: none;
  transition-duration: 0.2s;
}

#TB_window.closing {
  /* animation: close 2s ease; */
  transform: scale(0);
  transition-duration: 0.2s;
}



#TB_window #TB_closeWindowButton {
  cursor: pointer;
}


/* optional: while we wait for ajax, put a loading spinner in the modal body */