/* open-modal-backdrop animations */
@keyframes open-modal-backdrop {
  0% {
    background: none;
  }
}

/* open backdrop */
dialog#TB_window::backdrop {
  animation: open-modal-backdrop 0.2s ease;
}

/* close-modal-backdrop animations */
@keyframes close-modal-backdrop {
  100% {
    background: none;
  }
}

/* close backdrop */
dialog#TB_window.closing::backdrop {
  animation: close-modal-backdrop 0.2s ease forwards;
}





/* zoom modal animation */
@keyframes zoom-open-modal {
  0% {
    transform: scale(0);
  }
}

@keyframes zoom-close-modal {
  100% {
    transform: scale(0); 
  }
}

dialog#TB_window.zoom[open] {
  animation: zoom-open-modal 0.2s ease;
}

dialog#TB_window.zoom.closing {
  animation: zoom-close-modal 0.2s ease;
}

/* glide modal animation */
@keyframes glide-open-modal {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
}

@keyframes glide-close-modal {
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

dialog#TB_window.glide[open] {
  animation: glide-open-modal 0.2s ease;
  
}

dialog#TB_window.glide.closing {
  animation: glide-close-modal 0.2s ease;
}


/* spin modal animation */
@keyframes legacy-open-modal{
  0% {
    opacity: 0;
  }
}

@keyframes legacy-close-modal {
  100% {
    opacity: 0;
  }
}

dialog#TB_window.legacy[open] {
  animation: legacy-open-modal 0.2s ease;
}

dialog#TB_window.legacy.closing {
  animation: legacy-close-modal 0.2s ease;
}


/* spin modal animation */
@keyframes spin-open-modal{
  0% {
    transform: rotate(180deg) scale(0); 
  }
}

@keyframes spin-close-modal {
  100% {
    transform: rotate(180deg) scale(0); 
  }
}

dialog#TB_window.spin[open] {
  animation: spin-open-modal 0.2s ease;
}

dialog#TB_window.spin.closing {
  animation: spin-close-modal 0.2s ease;
}