/* open-modal-backdrop animations */
@keyframes open-modal-backdrop {
  0% {
    background: none;
  }
}

/* open backdrop */
dialog#TB_window::backdrop {
  animation: open-modal-backdrop 0.2s ease;
}

/* close-modal-backdrop animations */
@keyframes close-modal-backdrop {
  100% {
    background: none;
  }
}

/* close backdrop */
dialog#TB_window.closing::backdrop {
  animation: close-modal-backdrop 0.2s ease forwards;
}


/* animation for closing the modal by swiping it away */
@keyframes close-modal-swipe {

  100% {
    transform: scale(0);
  }
}
dialog#TB_window.closing-swipe {
  animation: close-modal-swipe 0.2s ease !important;
}


/* spin modal animation */
@keyframes legacy-open-modal{
  0% {
    opacity: 0;
  }
}

@keyframes legacy-close-modal {
  100% {
    opacity: 0;
  }
}

dialog#TB_window.legacy[open] {
  animation: legacy-open-modal 0.2s ease;
}

dialog#TB_window.legacy.closing {
  animation: legacy-close-modal 0.2s ease forwards;
}

/* EVERYTHING FROM THIS POINT MAY VARY FROM PAGE TO PAGE */




/* zoom modal animation */
@keyframes zoom-open-modal {
  0% {
    transform: scale(0);
  }
}

@keyframes zoom-close-modal {
  100% {
    transform: scale(0); 
  }
}

dialog#TB_window.zoom[open] {
  animation: zoom-open-modal 0.2s ease;
}

dialog#TB_window.zoom.closing {
  animation: zoom-close-modal 0.2s ease forwards;
}

/* glide modal animation */
@keyframes glide-open-modal {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
}

@keyframes glide-close-modal {
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

dialog#TB_window.glide[open] {
  animation: glide-open-modal 0.2s ease;
  
}

dialog#TB_window.glide.closing {
  animation: glide-close-modal 0.2s ease forwards;
}


/* spin modal animation */
@keyframes spin-open-modal{
  0% {
    transform: 
      rotate(180deg)
      scale(0); 
  }
}

@keyframes spin-close-modal {
  100% {
    transform: 
      rotate(180deg)
      scale(0); 
  }
}

dialog#TB_window.spin[open] {
  animation: spin-open-modal 0.2s ease;
}

dialog#TB_window.spin.closing {
  animation: spin-close-modal 0.2s ease forwards;
}



/* lamp modal animation */
@keyframes lamp-open-modal
{

  /* 0% means the below CSS is how the animation will begin */
  0% 
  {
    /* the initial position of the modal is set by javascript in ssThickboxAnimation */
    top: var(--starting-y);
    left: var(--starting-x);

    /* begin the  element in the center of the thickbox link */
    transform: 
      translate(-50%, -50%)
      scale(0)
  }
}

@keyframes lamp-close-modal 
{

  /* 100% means the below CSS is how the animation will finish */
  100% 
  {
    /* the final position of the modal is set by javascript in ssThickboxAnimation */
    top: var(--starting-y);
    left: var(--starting-x);
    transform: 
      translate(-50%, -50%)
      scale(0)
  }
}

dialog#TB_window.lamp[open] 
{
  margin: 0; /* remove the default (margin auto) behaviour of <dialog>  */

  /* position dialog in the middle of the screen */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: lamp-open-modal 0.5s ease;
}

dialog#TB_window.lamp.closing #TB_title {
  background-color: white !important;
  transition: background-color 0.2s ease;
}

dialog#TB_window.lamp.closing #TB_closeAjaxWindow {
  background-color: white !important;
  transition: background-color 0.2s ease;
}


dialog#TB_window.lamp.closing 
{
  margin: 0;
  animation: lamp-close-modal 0.2s ease forwards;
}